/* google fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* universal style */
* {
    padding: 0;
    margin: 0;
}


/* shared styles */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.display-flex {
    display: flex;
}

.text-dark {
    color: rgb(19, 19, 19, 1);
}

.text-gray {
    color: rgb(66, 66, 66);
}

.text-lightgray {
    color: rgb(114, 114, 114, 1);
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    padding: 20px 25px;
    border: 0;
}

img {
    width: 100%;
}

.fixed-width {
    width: 90%;
    margin: 0 auto;
}






/* header styles */
header {
    padding: 50px 0;
    margin-bottom: 85px;
}


/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin: 0 18px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.brand {
    font-size: 2.8rem;
    font-weight: 700;
}



.navbar-icon {
    height: 35px;
    width: 35px;
    display: none;
}




/* banner styles */

.banner {
    margin-top: 100px;
}

.banner-width {
    width: 53%;
    margin: 0 auto;
    text-align: center;
}

.banner-width h1 {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 38px;
}

.banner-width p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.banner-width button {
    margin-bottom: 50px;
}


/* features styles */
.features {
    margin: 0 auto;
    gap: 73px;
    align-items: center;
    margin-bottom: 130px;
}

.img-box {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-box {
    width: 50%;
    padding-right: 61px;
}

.features-box h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 24px;
}

.features-box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.light-text {
    font-weight: 400;
}

.orange-text {
    color: rgba(255, 144, 14, 1);
}

.img-item img {
    width: 100%;
}




/* design features styles */
.design-title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 24px;
    padding-left: 21px;
    border-left: 5px solid rgba(255, 144, 14, 1);
    ;
}

.design-box p {
    font-size: 16px;
    font-weight: 400;
}

.box {
    width: 50%;
}

.box h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.box p {
    font-size: 16px;
    line-height: 26px;
}

.design-box {
    gap: 92px;
}

.left-box {
    margin-right: 54px;
}

.blog {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.blog-1 {
    margin-top: 30px;
}

.experience-box {
    border-radius: 8px;
    background: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 45px;
    position: absolute;
    bottom: 0;
    left: -92px;
}

.experience-box h2 {
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
}

.experience-box p {
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}


.box-2 {
    position: relative;
}

.design-features {
    margin-bottom: 130px;
}




/* responsive web design */



/* medium device */
@media only screen and (max-width: 768px) {

    .nav-links {
        display: none;
    }

    .navbar-icon {
        display: block;
    }

    header {
        padding: 20px 0;
    }

    .banner-width {
        width: 90%;
    }


    .features {
        flex-direction: column;
    }

    .img-box {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .features-box {
        width: 90%;
        padding-right: 0;
        text-align: center;
    }

    .design-box {
        flex-direction: column;
        gap: 0;
    }

    .box {
        width: 90%;
        margin: 0 auto;
    }

    .experience-box {
        display: none;
    }
}